html,body {
height: 100%;
width: 100%;
margin: 0%;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1%;
    width: 10%;
}
.border1{
    border-color: green;
}
.border2{
    border-color: red;
}